<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD_FARMACIA.Properties.Settings.PROYECTO_FARMACIAConnectionString"
            connectionString="Data Source=ADMI\SQLEXPRESS;Initial Catalog=PROYECTO_FARMACIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>